#qna {
  display: none;
  padding: 50px;
  width: 640px;
  height: auto;
  text-align: center;
  align-items: center;
  border-radius: 20px;

  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  box-sizing: border-box;
  background-color: #ebecf0;
}

.qBox {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 10px 10px 10px;
  border-radius: 20px;
  font-weight: bold;

  background-color: #ebecf0;
  color: #8c8c8c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  text-shadow: 1px 1px 1px #fff;
}

.answerList {
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  z-index: 0;
  padding: 15px 100px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 70%;
  border: 0px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: bold;

  background-color: #ebecf0;
  color: #8c8c8c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  text-shadow: 1px 1px 1px #fff;
}
.answerList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  transform: scaleX(0.3);
  opacity: 0;
  transition: all 0.3s;
}
.answerList:hover {
  z-index: 0;
  color: white;
  cursor: pointer;
}
.answerList:hover::before {
  border-radius: 20px;
  opacity: 1;
  background-color: #666;
  transform: scaleX(1);
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}

.progress {
  margin-bottom: 30px;
  height: 20px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;

  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  box-sizing: border-box;
  background-color: #ebecf0;
}

.progressBar {
  height: 100%;
  border-radius: 15px;
  background-color: #47c83e;
  transition: width 1s ease-in-out;
  align-items: center;
  justify-content: center;
}
